/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.5;
    margin-left: 25%;
    margin-right: 25%;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}
hr {

    border: 1px dashed black;
    margin: 2% 0% 2% 0%;
}
.hr2 {
    border: 1px dashed black;
    margin: 4% 0% 2% 0%;
    width: 100%;
    
}

#nav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 3%;
    margin-bottom: 3%;
}

#header-container a {
    text-decoration: none;
    color: black;
    margin: 0% 6% 0% 6%;
}
#about-container {
    display: flex;
    flex-flow: column wrap;
}
#about-container p{
    text-align: left;
    padding-left: 3%;
    font-size: 18px;
    
}
#about-container h1{
    padding-left: 3%;
    width: 90%;
    text-align: left;
    margin: 2% 0% 2% 0%;
    font-size: 20px;
}

#about-container h1 {
    font-size: 20px;
    margin: 2% 0% 2% 0%;
}

#row1-container {
    display: flex;
}
#row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center;
}

#jumbo-about {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.card-img {
    padding: 0% 5% 0% 5%;
    width: 100%;
    padding: 5%;
}

.card-p {
    padding: 0% 5% 0% 5%;
    font-size: 18px;
    width: 90%;
    text-align: left;
}

h2 {
    padding: 0% 5% 0% 5%;
    width: 90%;
    text-align: left;
    margin: 2% 0% 2% 0%;
    font-size: 20px;
}

#nav2-container {
    display: flex;
    justify-content: flex-start;
    
}

footer nav {
    background-color: black;
    padding: 20px;
}

footer nav a{
    color: white;
    text-decoration: none;
    background-color: black;
    margin: 0% 2% 0% 2%;
}

.learn-more-Button {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 35%;
}
.card {
    
    text-align: center;
    display: flex;
    flex-direction: column;
}
.button-div {
    text-align:left;
    margin-top: 5%;
    padding: 0% 5% 0% 5%;
}

#lets-work-together p{
    text-align: left;
    padding-left: 3%;
    font-size: 18px;
    margin-bottom: 5%;
}
#lets-work-together h3{
    padding-left: 3%;
    width: 90%;
    text-align: left;
    margin: 2% 0% 2% 0%;
    font-size: 20px;
}